
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Add New Proxy";
}
<h1>@ViewData["Title"]</h1>
<p>Страница в разработке.</p>