@{
    ViewData["Title"] = "Home Page";
}
@model Dashboard.Models.MainPageModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@section Scripts
{
    <script src="~/js/reload.js"></script>
    <script src="~/js/show-messages.js"></script> 
    <script>
        updatePartialView();
    </script>
}
 


<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a class="btn btn-primary" asp-controller="Home" asp-action="Edit" role="button">+ Add Proxy</a>
    </div>

    <div id="partialViewContainer"></div>

    <!-- Контейнер для toast-уведомлений -->
    <div class="toast-container position-fixed bottom-0 end-0 p-3" aria-live="polite" aria-atomic="true"></div>

</div>

<div>
    @foreach (var modem in Model.Modems)
    {
        <div class="modal fade" id="myModal-@modem.Port" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Подтвердите удаление:</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Модем @modem.Type, @modem.Host:@modem.Port</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                        <a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@modem.Port">Удалить</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

