@{
    ViewData["Title"] = "Home Page";
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@section Scripts
{
    <script src="~/js/reload.js"></script>
    <script src="~/js/show-messages.js"></script> 
    <script>
        updatePartialView();
    </script>
}
 


<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a class="btn btn-primary" asp-controller="Home" asp-action="Edit" role="button">+ Add Proxy</a>
    </div>

    <div id="partialViewContainer"></div>

    <!-- Контейнер для toast-уведомлений -->
    <div class="toast-container position-fixed bottom-0 end-0 p-3" aria-live="polite" aria-atomic="true"></div>

</div>


