@{
    ViewData["Title"] = "Logs";
}
@model Dictionary<DateTime, string>


<h1>@ViewData["Title"]</h1>


@foreach (var log in Model)
{
    <p>@log.Key.ToString("HH:mm:ss"): @log.Value</p>
}

<script src="~/js/reload.js"></script>