@{
    ViewData["Title"] = "Logs";
}
@model Dictionary<DateTime, string>


<h1>@ViewData["Title"]</h1>


@foreach (var log in Model)
{
    <dl class="row small">
        <dt class="col-sm-3">@log.Key.ToString("HH:mm:ss"):</dt>
        <dd class="col-sm-9">@log.Value</dd>
    </dl>
}